.color {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 4rem;
}

.color-box {
  width: 8rem;
  height: 8rem;
}

.color-label {
  font-family: monospace;
  text-transform: uppercase;
}

.non-displayable .color-label {
  color: gray;
}

.cardrow {
}

.cardsheet {
  margin-bottom: 5rem;
}
