.color {
  display: inline-block;
  margin-bottom: 0.62rem;
  margin-right: 0.62rem;
}

.color-box {
  width: 8rem;
  height: 8rem;
}

.color-label {
  font-family: monospace;
  text-transform: uppercase;
}

.non-displayable .color-label {
  color: gray;
}
